body{
    background-color: whitesmoke;

}

.header{
    background-color: #1f2937;
    display: flex;
    flex-direction: column;
}

.nav{
    display: flex;
    flex-direction: row;
    width: 60%;
    height: 100px;
    margin: auto;
    padding-bottom: 30px;
}
.left-side{
    display: flex;
    flex: 0.5;
    gap:9px;
    justify-content: flex-end;
    
    
}

.right-side{
    flex: 1;
    color: #F9FAF8;
    font-size: 24px;
    font-weight: bold;
    
}

ul{
    list-style: none;
    

}
a{
    text-decoration-line: none;
    color: #E5E7EB;
    font-size: 18px;
}
.sign-slider-flex{
    display: flex;
    flex: 1 1;
    width: 80%;
    height: 100px;
    margin: auto;
    padding-bottom: 30px;


}
.sign-up{
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.sign-up h1,p{
    width: 300px;
    margin: 0;
}
.sign-up h1{
    font-size: 48px;
    font-weight: bold;
    color:#F9FAF8
}
.sign-up p{
    color:#F9FAF8
}
.sign-up button{
    background-color: #3882F6;
    color: #F9FAF8;
    border-radius: 8px;
    width: 80px;
    height: 30px;
    margin-right: 215px;
    margin-top: 10px;
}
.slider{
    display: flex;
    flex:1;
    justify-content: center;

}
.cards{
    display: flex;
    justify-content: center;
    gap:20px;
    color:#3882F6;
    
}
.container1 h1{
    padding: 10px;
    text-align: center;
}
.box{
    display: flex;
    border: 3px solid;
    width: 200px;
    height: 200px;
    border-radius: 15px;
}
.outer-box p{
    width: 200px;
    inline-size: 200px;
    color: #1f2937;
}
.slider-img{
    width: 450px;
    height: 200px;
    padding-left: 40px;
    object-fit: cover;

}
.container1{
    width: auto;
    height: 400px;
}
#quoteText{
    inline-size: 800px;
    font-size: 36px;
    font-weight: 100;
    font-style: italic;
    text-align: center;
    color: #1f2937;
}
#quote-name{
    display: flex;
    text-align: left;
    justify-content: flex-end;


}
.container2{
    background-color: #e5e7eb;
    display: flex;
    background-color: #e5e7eb;
    width: auto;
    height: 200px;
    justify-content: center;
    align-items: center;
}
.container3{
    display:flex ;
    width: auto;
    height: 300px;
    justify-content: center;

}
.call-action-container{
    margin-top: 35px;
    color: #E5E7EB;
}
#Call-action-title{
    font-weight: bold;
    font-size: 20px;
}
.Call-action{
    margin: 60px;
    display: flex;
    width: 800px;
    height: 150px;
    background-color: #3882F6;
    justify-content: center;
    border-radius: 10px;

}
.Call-action #btn-sign-up{
    height: 35px;
    width: 100px;
    background-color: transparent;
    margin-top: 60px;
    margin-left: 100px;
    
    border-color: #E5E7EB;
    color: #E5E7EB;
}


.call-action-container{
    display: flex;
    flex-direction: column;

}

.footer{
    width: auto;
    height: 70px;
    background-color: #1f2937;
}
.footer p{
    color: #E5E7EB;
    margin: auto;
    padding-top: 20px;
}